/* Cart Section Styles */
.cart-section {
    min-height: 50vh;
    max-width: 1200px;
    margin: 30px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.cart-section h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}


#cart-container {
    margin-bottom: 20px;
}


#empty-message {
    text-align: center;
    font-size: 1.2rem;
    color: #888;
}


#cart-total {
    text-align: right;
    font-size: 1.5rem;
}


#cart-total button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


#cart-total button:hover {
    background-color: #45a049;
}


/* Cart Item Styles */
.cart-item {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    margin-bottom: 20px;
    padding: 10px;


    flex-direction: column;
    background-color: #f9f9f9;
    border-radius: 8px;
}


.cart-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 15px;
}


.cart-item-details {
    flex-grow: 1;
}
.cart-item-details-left{
 
    display: flex;
    gap: 20px;
}


.cart-item-details h4 {
    font-size: 1.2rem;
    margin: 5px 0;
}


.cart-item-details p {
    margin: 5px 0;
}
.controls-container {
    display: flex; /* Use flexbox layout */
    justify-content: flex-end; /* Align items to the end */
    align-items: center; /* Center items vertically */
    margin-top: 10px; /* Add some space above */
}


.quantity-controls {
    display: flex; /* Use flexbox for quantity controls */
    align-items: center; /* Center items vertically */
}


.quantity-controls button {
    margin: 0 5px; /* Add space between buttons */
}


.remove-button {
    margin-left: 10px; /* Add space between quantity controls and remove button */
    background-color: #ff4d4d; /* Red color for remove button */
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}


.remove-button:hover {
    background-color: #ff1a1a; /* Darker red on hover */
}


/* Modal styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */


    background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
}


/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
   
    width: 300px; /* Could be more or less, depending on screen size */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow effect */
}
.modal-button{


    display: flex;
    justify-content: flex-start;
    align-items: center;
    justify-content: space-between;
    /* flex-direction: column; */
}
/* Close Button */
.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}


/* Close button hover effect */
.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* Input field */
input[type="number"] {
    /* width: 100%;  */
    padding: 10px; /* Some padding */
    /* margin: 10px 0; Space above and below */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded corners */
}


/* Place Order Button */
.place-order-button {
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 10px 15px;
    align-self: flex-end;
    border: none;
    border-radius: 4px; /* Rounded corners */
    cursor: pointer;
    float: right; /* Align to the right */
}


.place-order-button:hover {
    background-color: #45a049; /* Darker green on hover */
}



